.select .main {
    border: 1px solid #151414;
    display: inline-block;
    min-width: 40px;
    min-height: 20px;
}

.items {
    position: absolute;
    border: 1px solid #1c1b1b;
    padding: 5px;
    margin: 5px;
}
.item.selected {
    background-color: #04a5ea;
    color: #fff;
}

/*приорете в css кто ниже тот и круче*/
/*прописываем для div .select.active*/
/*.select.active .items {*/
/*    display: block;*/
/*}*/